<!DOCTYPE html>
<html>
  <head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <meta charset="utf-8">
    <title>H|S Hair</title>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">H|S Hair</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/stylists">Stylists</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Stylesk</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
